<% provide(:title, "作っとるもん") %>
<div class = "main">
  <h2>作っとるもん</h2>
  <div class = "sessons">
    <div class = "summer">
      <p class = "summer-title">夏野菜</p>
      <div class = "s-vegitable">
        <%= image_tag"aiko.jpg", :size => '255x280', class: "image" %>
        <p>アイコトマト</p>
        <p class = "explanation">なんだこの胴長のミニトマトは？！と思ったアナタ。最近人気の品種で、甘くてパクパク食べれます。</p>
      </div>
      <div class = "s-vegitable">
        <%= image_tag"amanaga.jpg", :size => '255x280', class: "image" %>
        <p>万願寺とうがらし</p>
        <p class = "explanation">名前にとうがらしとついてますが、実は甘いとうがらし。ししとうは辛いものがありますが、これはどれも辛くありません。</p>
      </div>
      <div class = "s-vegitable">
        <%= image_tag"nasu.jpg", :size => '255x280', class: "image" %>
        <p>なすび</p>
        <p class = "explanation">焼いても、煮ても、炒めても美味しい。当園のなすは安全のため、とげは処理して出荷してます。</p>
      </div>
    </div>
    
    <div class = "winter">
      <p class = "winter-title">冬野菜</p>
      <div class = "w-vegitable">
        <%= image_tag"hakusai.jpg", :size => '255x280', class: "image" %>
        <p>白菜</p>
        <p class = "explanation">当園は昼夜の気温差が激しく、厳しい環境で育てているので、甘い白菜に仕上がっております。</p>
      </div>
      <div class = "w-vegitable">
        <%= image_tag"daikon.jpg", :size => '255x280', class: "image" %>
        <p>大根</p>
        <p class = "explanation">面白い形をした大根が、毎年収穫されます。足や手が生えているようで、まるで人間みたい。どんな形があるか、直売場に見に来てね。</p>
      </div>
      <div class = "w-vegitable">
        <%= image_tag"rensou.jpg", :size => '255x280', class: "image" %>
        <p>ほうれんそう</p>
        <p class = "explanation">寒さや霜のストレスにも負けず、育ったほうれんそう。育ち過ぎずると筋が残るので、ベストな状態で出荷してます。</p>
      </div>
      <p class = "clear"></p>
    </div>
  </div>
</div>