<% provide(:title, "農園紹介") %>
<div class = "main">
  <h2>農園紹介</h2>
  <div class = "people">
    <h3>◆育てとる人◆</h3>
    <div class = "content">
      <%= image_tag"huuhu.jpg", :size => "255x255", class: "left-image image"  %>
      <div class = "txt-content">
        <p>石原　欽吾・真理<br>夫婦で力合わせてやらせてもろてます。</p>
      </div>
      <p class = "clear"></p>
    </div>
    <%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %>
  </div>
  
  <div class = "place">
    <h3>◆育てとる場所◆</h3>
    <div class = "content">
      <%= image_tag"ie.jpg", :size => "255x255", class: "right-image image" %>
      <div class = "txt-content" >
        <p>大阪府東大阪市<br>都会を感じさせない、自然豊かな場所。</p>
      </div> 
      <a>img</a>
      <a>img</a>
      <p class = "clear"></p>
    </div>
    <%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %><%= image_tag"sikiri.jpg", :size => "200x70" %>
  </div>
  
  <div class = "comment">
    <h3>◆こだわり◆</h3>
    <div class = "contents">
      <div class = "content">
        <%= image_tag"yasai.jpg", :size => "255x255", class: "left-image image" %>
        <div class = "txt-content">
          <p>小さなお子様にも安心・安全の無農薬栽培。<br>やっぱり口に入るもんやから、<br>変なものは絶対作らへん。<br>プライドもって作ってます。</p>
        </div>
        <p class = "clear"></p>
      </div>
      <div class = "content">
        <%= image_tag"tuchi.jpg", :size => "255x255", class: "right-image image" %>
        <div class = "txt-content">
          <p>収穫したものを美味しい状態で、<br>お客様に食べていただきたい。<br>鮮度にこだわるから、<br>その日収穫したもんを<br>直売所に並べてます。</p>
        </div> 
        <p class = "clear"></p>
      </div>
    </div>  
  </div>
</div>  
