<%= form_for(@user, url: yield(:url)) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
      
  <%= f.label :name, "お名前（必須）" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email, "メールアドレス（必須）" %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password, "パスワード（必須）" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "パスワード再入力（必須）" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <p>※必須項目は必ずご入力ください</p>

  <%= f.label :image_name, "アイコン" %>
  <%= f.file_field :image_name, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn-area" %>
<% end %>
