<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "TOP",   root_path %></li>
      <li><%= link_to "農園紹介",   introduce_path %></li>
      <li><%= link_to "作っとるもん", grow_path %></li>
      <li><%= link_to "野菜の日常と交流", '#' %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </div>
</header>